@keyframes FateInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes FateInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0), rotate(-12deg);
  }
}

.FateInRight {
  animation: FateInRight 1s ease-out;
  animation-delay: .3s;
  animation-fill-mode: both;
}

.FateInLeft {
  animation: FateInLeft 1s ease-out;
  animation-delay: .3s;
  animation-fill-mode: both;
}